server:
  port: 8089
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres?currentSchema=skattehendelser
    username: postgres
    password: mysecretpassword
  flyway:
    locations: classpath:db/migration
    enabled: true
sigrun:
  rest:
    url: http://localhost:8083/sigrun

# JWT Configuration for local development
AZURE_APP_WELL_KNOWN_URL: http://host.docker.internal:8082/isso/.well-known/openid-configuration
AZURE_APP_CLIENT_ID: melosys-localhost
AZURE_APP_CLIENT_SECRET: lol
AZURE_OPENID_CONFIG_TOKEN_ENDPOINT: http://host.docker.internal:8082/isso/oauth2/v2.0/token
CLUSTER_SIGRUN: dev-gcp
APP_NAME_SIGRUN: sigrun-local

KAFKA_VEDTAK_TOPIC: teammelosys.melosys-hendelser-local
KAFKA_SKATTEHENDELSE_TOPIC: teammelosys.skattehendelser.v1-local
SHUTDOWN_TIMEOUT: 3s
ADMIN_API_KEY: dummy
KAFKA_BROKERS: localhost:29092