server:
  port: 8089
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres?currentSchema=skattehendelser
    username: postgres
    password: mysecretpassword
  flyway:
    locations: classpath:db/migration
    enabled: true

# Azure AD JWT configuration - AZURE_APP_WELL_KNOWN_URL injiseres automatisk av NAIS
AZURE_OPENID_CONFIG_TOKEN_ENDPOINT: https://login.microsoftonline.com/966ac572-f5b7-4bbe-aa88-c76419c0f851/oauth2/v2.0/token

CLUSTER_SIGRUN: dev-fss
APP_NAME_SIGRUN: sigrun-q4
KAFKA_BROKERS: localhost:29092
KAFKA_VEDTAK_TOPIC: teammelosys.melosys-hendelser-local
SIGRUN_REST_URL: https://team-inntekt-proxy.dev-fss-pub.nais.io/proxy/sigrun-ske
ADMIN_API_KEY: dummy