<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %logger{10} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.kafka" level="DEBUG"/>
    <logger name="org.springframework.kafka" level="DEBUG"/>
    <logger name="com.zaxxer.hikari" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="console"/>
    </root>
</configuration>
