<configuration>
    <springProfile name="default">
        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
<!--                TODO - dette på legges på før man går i prod, venter siden det er nyttig å ha i testing i q2 -->
<!--                TODO https://jira.adeo.no/browse/MELOSYS-6887 -->
<!--                <jsonGeneratorDecorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">-->
<!--                    <valueMask>-->
<!--                        <value>(^|\W)\d{11}(?=$|\W)</value>-->
<!--                        <mask>$1***********</mask>-->
<!--                    </valueMask>-->
<!--                </jsonGeneratorDecorator>-->
                <fieldNames>
                    <version>[ignore]</version>
                </fieldNames>
                <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                    <maxDepthPerThrowable>30</maxDepthPerThrowable>
                    <exclude>java\.util\.concurrent\..*</exclude>
                    <exclude>org\.apache\.tomcat\..*</exclude>
                </throwableConverter>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="stdout_json"/>
        </root>

    </springProfile>

    <springProfile name="!default">
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %logger{10} - %msg%n</pattern>
            </encoder>
        </appender>

        <logger name="org.apache.kafka" level="INFO"/>
        <logger name="org.apache.kafka.clients.consumer.internals" level="WARN"/>
        <logger name="org.springframework.kafka" level="INFO"/>
        <logger name="com.zaxxer.hikari" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="console"/>
        </root>
    </springProfile>
</configuration>
