<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %logger{10} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="org.apache.zookeeper" level="WARN"/>
    <logger name="org.springframework.kafka" level="WARN"/>
    <logger name="org.flywaydb.core.internal" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="kafka" level="WARN"/>
    <logger name="springfox" level="WARN"/>

    <logger name="no.nav.faktureringskomponenten.service.avregning" level="DEBUG"/>

</configuration>